<!DOCTYPE html>
<html>
<head>

<style>

body {
	font-family: verdana;
}


</style>
	<title></title>
</head>
<body>
<a href= '/'>Home Page</a>
<br>

<h1> Your Favorite Routes </h1>
<% for (var i=0; i < routes.length; i++) { %>
<p>
<h1><a href= "/results?origin=<%=routes[i].origin%>&destination=<%=routes[i].destination%>">

<%=routes[i].origin%> -
<%=routes[i].destination%> Route
</a></h1>

	<form action="/routes/<%=routes[i].id%>?_method=DELETE" method="POST">
		<input type="submit" value="Delete">
	</form>


<% } %>
</body>
</html>


