<!DOCTYPE html>
<html>
<head>

<style>

div {
	float:left;
	border: black solid 2px;
	border-radius: 10px;
	margin: 10px;
	padding: 10px;


}

</style>
	<title>Bart Results</title>

</head>
<body>
<p>Date: <%=bart.schedule[0].date[0]%></p>
<p>Time: <%=bart.schedule[0].time[0]%></p>
<p>Origin: <%=bart.schedule[0].request[0].trip[3].$.origin%></p>
<p>Destination: <%=bart.schedule[0].request[0].trip[3].$.destination%></p>
<p>Fare: <%=bart.schedule[0].request[0].trip[3].$.fare%></p>

<div>
<p>Origin: <%=leg[0].$.origin%></p>
<p><%=leg[0].$.origTimeMin%></p>
<p>Destination: <%=leg[0].$.destination%></p>
<p><%=leg[0].$.destTimeMin%></p>
<p>Train: <%=leg[0].$.trainHeadStation%></p>
</div>

<% if(leg[1]) {%>
<div>
<p>Origin: <%=leg[1].$.origin%></p>
<p><%=leg[1].$.origTimeMin%></p>
<p>Destination: <%=leg[1].$.destination%></p>
<p><%=leg[1].$.destTimeMin%></p>
<p>Train: <%=leg[1].$.trainHeadStation%></p>
</div>

<%} %>

</body>
</html>