<!DOCTYPE html>
<html>
<head>

<style>

body {
	font-family: verdana;
}
div {
	float:left;
	border: black solid 5px;
	border-radius: 10px;
	margin: 10px;
	padding: 10px;
}
h1 {
	color: red;
}

</style>
	
	<title>Bart Results</title>

</head>
<body>
<a href= '/'>Home Page</a>
<h2>Next Available Train </h2>
<br><h2>Date: <%=bart.schedule[0].date[0]%>
<br>Time: <%=bart.schedule[0].time[0]%>
<br>Origin: <%=bart.schedule[0].request[0].trip[2].$.origin%>
<br>Destination: <%=bart.schedule[0].request[0].trip[2].$.destination%>
<br>Fare: <%=bart.schedule[0].request[0].trip[2].$.fare%></h2>
<br>
<% if(leg[1]) {%>
<h1> *Please note a transfer train is necessary to reach destination.*</h1>
<%} %>

<%if (user) {%>
<div>
	<form action="/routes" method="POST">
		<input type="hidden" name="origin" value="<%=bart.schedule[0].request[0].trip[2].$.origin%>">
		<input type="hidden" name="destination" value="<%=bart.schedule[0].request[0].trip[2].$.destination%>">

		<input type="submit" value="Save Route">
	</form>
</div>
<%} %>

<div>
<br><h2>Origin: <%=leg[0].$.origin%>
<br><%=leg[0].$.origTimeMin%>
<br>Destination: <%=leg[0].$.destination%>
<br><%=leg[0].$.destTimeMin%>
<br>Train: <%=leg[0].$.trainHeadStation%></h2>
</div>

<% if(leg[1]) {%>
<div>
<br><h2>Origin: <%=leg[1].$.origin%>
<br><%=leg[1].$.origTimeMin%>
<br>Destination: <%=leg[1].$.destination%>
<br><%=leg[1].$.destTimeMin%>
<br>Train: <%=leg[1].$.trainHeadStation%></h2>
</div>

<%} %>
<p>




</body>
</html>